1.What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.  
 - Data structures are essential because they provide efficient ways to organize, store, and manage data. The right data structure allows programs to perform tasks like searching, sorting, and updating quickly and effectively. They are crucial for building scalable applications, solving complex problems, and writing clean, optimized code. Without proper data structures, software can become slow, inefficient, and difficult to maintain.

2.Explain the difference between mutable and immutable data types with examples?
 -  Mutable Data Types:
    - Can be changed after creation.
    - You can add, remove, or modify elements.
     - Examples :list , dict (dictionary) ,  set
   
 - Immutable Data Types:
    - Cannot be changed once created.
    - Any "change" creates a new object.
    - Examples :int , float , str , tuple

3.What are the main differences between lists and tuples in Python?
 - List:
    - Mutable — You can change, add, or remove elements.
    - list is faster then tuple.
 - Tuple:
    - Immutable — Once created, it cannot be changed.
    - tuple is slower then list.

4.Describe how dictionaries store data?
 - Dictionaries in Python store data as key-value pairs, allowing for fast and efficient data retrieval. Each key in a dictionary is unique and immutable such as a string, number, or tuple, and is associated with a specific value that can be of any data type. Internally, Python uses a technique called hashing to convert keys into unique hash values which helps it quickly locate the corresponding value in memory. This makes accessing or updating data using a key extremely fast, usually in constant time. Dictionaries are ideal for situations where quick lookups, flexible data storage and clear associations between elements are needed.

5.Why might you use a set instead of a list in Python?
 - We might use a set instead of a list in Python when you need to store unique items and don't care about their order.

6.What is a string in Python, and how is it different from a list?
 - In Python, a string is a sequence of characters enclosed in quotes (' ' or " "), used to represent text.
 - A string is used for handling text and is immutable, while a list is a flexible collection of items that can be modified.

7.How do tuples ensure data integrity in Python?
 - Tuples help ensure data integrity in Python by being immutable meaning their contents cannot be changed after creation. This immutability protects data from accidental modifications and makes tuples a reliable way to store fixed collections of values
 - Tuples ensure data integrity by locking in their values, making them ideal for storing fixed data that shouldn't change throughout the life of a program.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key-value pairs, where each key is mapped to a specific value through a hash function. The hash function takes the key, performs some calculations, and converts it into a unique hash value (usually an integer) that determines the key’s position in the table. Hash tables allow for fast lookups, inserts, and deletions, typically with an average time complexity of O(1).

9.Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types. Unlike many other programming languages that require elements of a list to be of the same type, Python allows lists to hold a mix of data types, such as integers, strings, floats, and even other lists or objects.

10.Explain why strings are immutable in Python.
 - Strings in Python are immutable to optimize memory usage, ensure data integrity, make them hashable for use as dictionary keys, and improve performance. This immutability guarantees that once a string is created, it cannot be altered, making them safer and more predictable to work with.

11.What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer faster lookups, efficient updates, key-value pair mappings, and better memory efficiency compared to lists. They are especially useful for tasks where you need to map unique keys to values, perform quick lookups, or store complex, nested data structures.

12.Describe a scenario where using a tuple would be preferable over a list?
 - A scenario where using a tuple would be preferable over a list is when you need to store a fixed collection of values that should not be modified throughout the program.
 - For example, consider storing the coordinates of a location (latitude and longitude). Once these coordinates are set, they shouldn't change. Using a tuple in this case makes sense because it ensures data integrity by preventing accidental modifications and provides a clearer indication that the data is meant to be constant.

13.How do sets handle duplicate values in Python?
 - In Python, sets automatically handle duplicate values by removing them. A set is a collection of unique elements, so if you try to add a duplicate value, it simply won’t be stored again. This ensures that each element in a set appears only once.

14.How does the “in” keyword work differently for lists and dictionaries?
 - In Lists
    - When using the "in" keyword with a list, Python checks if the element is present anywhere in the list. It performs a sequential search through the list, checking each element one by one. This is a linear search with a time complexity of O(n), where n is the length of the list.
 - In Dictionaries
     - When using the "in" keyword with a dictionary, Python checks if the key is present in the dictionary, not the value. It performs the lookup by using the dictionary's hash table, which is typically much faster than a sequential search. This lookup operation is O(1) on average, making it very efficient.

15.Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple once it has been created. This is because tuples are immutable in Python, meaning that their content cannot be changed after they are created. Once a tuple is assigned, its size and elements are fixed, and you cannot add, remove, or modify any of the elements directly.

16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the value associated with a key can be another dictionary. This creates a hierarchical structure where you can store and retrieve data at multiple levels, which is useful for representing more complex relationships between data.
   - Example:
     - student_data = {
    "Alice": {"age": 25, "major": "Computer Science", "grades": {"math": 90, "english": 85}},
    "Bob": {"age": 22, "major": "Physics", "grades": {"math": 80, "english": 88}},
    "Charlie": {"age": 23, "major": "Biology", "grades": {"math": 85, "english": 90}},
}


17.Describe the time complexity of accessing elements in a dictionary?
 - In Python, the time complexity of accessing elements in a dictionary is generally O(1) on average. This means that the time it takes to access a value associated with a given key is constant, regardless of the size of the dictionary. This efficiency is due to the underlying hash table implementation used by dictionaries.

18. In what situations are lists preferred over dictionaries?
 - In Python, lists are preferred over dictionaries in situations where the order of the elements matters, and the collection consists of homogeneous or sequential data that doesn't require key-value mapping.
   -  When You Need Ordered Data :
Lists maintain the order of the elements, meaning the position of each element in the list is significant. If you need to store a sequence of items where order is important, such as a list of steps in a process, a collection of items to be processed sequentially, or an ordered series of events, lists are a natural choice.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are unordered because they use a hash table to store key-value pairs, and their primary goal is efficient key-value lookups, not maintaining order.
 - Data retrieval from dictionaries is not affected by order, as you retrieve data using keys, and the access time remains constant (O(1)) on average, regardless of insertion order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: Data is accessed by index (position in the sequence). The order of elements in a list is important, and you retrieve an item using its index number (e.g., my_list[0] to access the first element). This is a sequential access, and the time complexity for accessing an element by index is O(1).
 - Dictionary: Data is accessed by key (unique identifier for each value). Each element in a dictionary is a key-value pair, and you retrieve a value using its associated key (e.g., my_dict["key"]). This is a direct lookup via hashing, and the average time complexity for accessing an element by key is also O(1).

In [1]:
#Write a code to create a string with your name and print it.
my_name = "N.ADITYA"
print(my_name)

N.ADITYA

In [2]:
#Write a code to find the length of the string "Hello World".
my_string = "Hello World"
length = len(my_string)
print(length)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase.
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [13]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [14]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [15]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

In [16]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#

In [23]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Aditya",
    "age": 20,
    "city": "Berhampur"
}
print(my_dict)

{'name': 'Aditya', 'age': 20, 'city': 'Berhampur'}

In [25]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [27]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [28]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

In [29]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [30]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [25, 28, 52, 82, 100]

In [31]:
#Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [33]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Aditya', 'age': 20}
dict2 = {'city': 'Berhampur', 'country': 'India'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Aditya', 'age': 20, 'city': 'Berhampur', 'country': 'India'}

In [34]:
#Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}